@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["RealTimeTemperature"]</title>

    <link href="~/css/RealTimeChart.css" rel="stylesheet" />

    <script type="module" src="~/lib/chart.js/chart.umd.js"></script>
    <script src="~/js/RealTimeChart.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/ThemeSwitcher.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>

</head>
<body data-bs-theme="dark">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="mb-0">@Localizer["RealTimeTemperatureChart"]</h1>
            </div>
            <div class="col-auto">
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header bg-primary py-3">
                        <h6 class="my-0 fw-normal text-center">Real temp (ºC)</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-0 text-center">
                            <li id="realTemp"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="realTimeChart" width="800" height="280"></canvas>
    </div>
</body>
</html>
