################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Nexum Tech/.vs/Nexum Tech/FileContentIndex
