# Ignore arquivos binários
*.dll
*.exe
*.pdb
*.mdb
*.log

# Ignore diretórios de build
bin/
obj/

# Ignore diretórios de pacotes NuGet
packages/

# Ignore arquivos de configuração do Visual Studio
.vs/

# Ignore diretórios de publicação
publish/
out/

# Ignore arquivos de configuração de ambiente
.env
.env.*

# Ignore logs
*.log