<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexum</title>

    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<script src="~/lib/popper.js/umd/popper.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>

<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid justify-content-start">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 280px;">
        <button class="btn w-100 d-flex align-items-center mb-3 mb-md-0 me-md-auto" type="button">
            <img src="~/images/n_shortcut_icon.png" alt="" width="50" height="50" class="rounded-circle me-4">
            <span class="fs-4">Nexum</span>
        </button>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-2">
                <button class="btn w-100 rounded text-start" type="button">
                    <i class="fa-solid fa-house-chimney"></i>
                    Home
                </button>
            </li>
            <li class="nav-item mb-2">
                <button class="btn w-100 rounded text-start" type="button">
                    <i class="fa-solid fa-chart-line"></i>
                    Dashboard
                </button>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <button class="btn d-flex align-items-center text-decoration-none dropdown-toggle" type="button" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://via.placeholder.com/150x150/3b2d50/bdbac1?text=DAVIDSONBPE" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </button>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li>
                    <div class="form-check form-switch mx-3">
                        <input class="form-check-input"
                               type="checkbox"
                               id="SwitchTheme" />
                        <label class="form-check-label" for="SwitchTheme">
                            <i class="fa-regular fa-sun"></i>
                        </label>
                    </div>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-user"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Sign out
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
</script>