@{
    ViewData["Title"] = "Nexum";
}

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>


<body data-bs-theme="light">
    <div class="container">

    </div>
</body>

