@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
<link href="~/lib/datatables/datatables.css" rel="stylesheet" />

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
<script type="module" src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/datatables/datatables.js"></script>

<body data-bs-theme="dark">
    <div class="container">
        
    </div>
</body>

<script>
    $(document).ready(function () {

    });
</script>
