.password-container {
    position: relative;
    width: 100%;
}

.strength-bar-wrapper {
    width: 100%;
    height: 4px;
    background-color: #e9e9e9;
    border-radius: 4px;
}

#strength-bar {
    width: 0;
    height: 4px;
    transition: width 0.2s;
    border-radius: 4px;
}

.strength-text {
    font-size: 12px;
    display: inline-block;
    margin-top: 4px;
}
