@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@if (ViewBag.CurrentTheme == "dark")
{
    <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2-dark.css" rel="stylesheet" />
}
else
{
    <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
}

<script src="~/js/PartialAddEmployee.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.js"></script>

<div class="modal-content">
    <!-- SweetAlert resources -->
    
    <!-- SweetAlert resources -->

    <div class="modal-header">
        Add employee
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body py-5">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <form novalidate id="loginForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" id="txtEmail" class="form-control fs-6 p-12" placeholder="Email" required maxlength="80">
                                <label for="email" class="form-label">Email</label>
                                <div class="invalid-feedback">Invalid email</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" id="btnSaveProfile">Add</button>
    </div>
</div>
