@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@model NexumTech.Infra.Models.CompanyViewModel

<script src="~/js/PartialCreateCompany.js"></script>

<div class="modal-content">
    <!-- SweetAlert resources -->
    <!-- SweetAlert resources -->

    <div class="modal-header">
        Create company
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body py-5">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <form novalidate id="companyForm">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-floating">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control fs-6 p-12", @id = "txtName", placeholder = "Name", required = "required", maxlength = "80" })
                                <label for="name" class="form-label">Name</label>
                                <div class="invalid-feedback">Invalid name</div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <label for="description" class="form-label">Description</label>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control fs-6 p-12", @id = "txtDescription", required = "required", maxlength = "400" })
                            <div class="invalid-feedback">Invalid description</div>
                        </div>
                        <div class="col-md-6">
                            <label for="logo" class="form-label">Logo</label>
                            <input class="form-control" type="file" id="logo" accept="image/jpeg, image/png">
                            <div class="invalid-feedback">Invalid logo</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" id="btnCreateCompany">Create</button>
    </div>
</div>
